

$color-primary: #4CAF50;
$color-accent: #E91E63;
$color-warn: #f44336;





// app config ================
$primary: #0cc2aa;
$secondary: #a88add;
$black: #000;
$white: #fff;

$widget-background-color-light: rgb(242, 242, 242);;
$background-color-light-blue: rgb(196, 202, 213);

$background-color-light-gray: #dbdbdb;
$background-color-light: #354759;
$background-color-dark: #2e3e4e;


// sidebar ================
$background-sidebar: #f0f0f0;


// info pane ================
$background-info-pane: #354759;
$width-info-pane: 400px;



// 3rd party addon ========================




// Notifications
$color__primary: #4CAF50;
$color__accent: #E91E63;
$color__warn: #f44336;

// $color__primary-contrast: #FFF;
// $color__accent-contrast: #FFF;
// $color__warn-contrast: #FFF;