.active {
  // border-bottom: 2px solid $primary;
  background-color: rgba(3, 3, 3, 0.6);
  // padding-bottom: 10px;
  color: #fff;
  // padding: 10px 0 ;
}


mat-sidenav-container {
  height: 100%;
}


mat-sidenav {
  // background-color: #212d38;
  // color: #fff;
  // padding: 5px 0;
}
